{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Ad Create</title>
</head>
<body>
<div class="form-group w-25 p-3 justify-content-center">
    <form {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="" method="post" >{% csrf_token %}
        <fieldset>
                Title: {% render_field form.name class="form-control"%}
                <br>
                Link: {% render_field form.link class="form-control" %}
                <br>
                Advertiser: {% render_field form.advertiser class="form-control" %}
                <br>
                {% render_field form.img class="form-control-file" %}
                <br>
                        <button type="submit" class="btn btn-success" name="submit">Submit</button>
        </fieldset>
    </form>

</div>
</body>
</html>
