<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Ad View</title>
</head>
<body>
<div class="container" >
    <form {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="" method="post" >{% csrf_token %}
        <fieldset>
            <ul>
                {{ form.as_p }}
                <li>
                        <button type="submit" class="primaryAction" name="submit">Submit</button>
                </li>
            </ul>
        </fieldset>
    </form>

</div>
</body>
</html>
