<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Ad View</title>
</head>
<body>
<div class="container" style="width:100%">

    <table style="width:100%">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Views</th>
          <th>Clicks</th>

          <th>Total Count</th>
          <th>Rate</th>

          <th>Time</th>

        </tr>
        {% for ad in ads %}
        {% for time, stat in ad.stats.items %}

        <tr>

          <td>{{ ad.id }}</td>
          <td>{{ ad.name }} </td>
          <td>{{ stat.0 }} </td>
          <td>{{ stat.1 }} </td>
          <td>{{ stat.2 }}</td>
          <td>{{ stat.3 }}</td>
     
         <td> {{ time.0 }} {{ time.1}}</td>
             </tr>
        {% endfor %}
    {% endfor %}

      </table> 


    Average Delta Time : {{ second_stats.avg }}
</div>
</body>
</html>
