<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Ad View</title>
</head>
<body>
<div class="container" style="width:100%">

    <table style="width:100%">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Views</th>
          <th>Clicks</th>

          <th>Total Count</th>
          <th>Rate</th>

          <th>Time</th>

        </tr>
        {% for entry in first_stats %}
        <tr>

     <td>{{ entry.id }}</td>
     <td>{{ entry.name }} </td>
     <td>{{ entry.views_count }} </td>
     <td>{{ entry.clicks_count }} </td>

     <td>{{ entry.total_count }}</td>
     <td>{{ entry.rate }}</td>

    <td> {{ entry.views__time__date }} {{ entry.views__time__hour}}</td>
        </tr>
    {% endfor %}

      </table> 


    
</div>
</body>
</html>
