<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Ad View</title>
</head>
<body>
<div class="container">


        {% for key,entry in first_stats.items %}
        {{ key.1 }}<br><br>
        <table style="width:100%">
            <tr>
              <th>Count</th>
              <th>Time</th>
    
            </tr>
        {% for stats in entry %}

        <tr>
            <td>{{ stats.2 }}</td>
           <td> {{ stats.0}} {{ stats.1 }}</td>
           <tr>
        {% endfor %}
    </table> 
    <br><br>
    {% endfor %}



    
</div>
</body>
</html>
